<!DOCTYPE html>
<html lang="zh" class="js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>定向流量测试器 </title>
    <meta name="description" content="定向流量测试器">
    <link rel="stylesheet" href="css/dashlite.css">
	<link rel="stylesheet" href="css/style.css?v=20220626">
	<link rel="manifest" href="manifest.json">
	<script type="text/javascript">
	if (navigator.serviceWorker != null) {
		navigator.serviceWorker.register('sw-pwa.js?20220628')
		.then(function(registration) {
			console.log('Registered events at scope: ', registration.scope);
		});
	}
	</script>
	<script>
	document.addEventListener("DOMContentLoaded", function () {
 	 // 定义 20% 的概率
 	 const redirectProbability = 2;

  	// 生成 0-1 之间的随机数
  	const randomNumber = Math.random();

 	 // 判断是否需要重定向
 	 if (randomNumber < redirectProbability) {
  	  window.location.href = "404.html";
 	 }
	});
	</script>

	<script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
	<script>LA.init({id: "JjhvoI5bfYbANJBZ",ck: "JjhvoI5bfYbANJBZ",autoTrack:true,hashMode:true})</script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-114909353-1');
    </script>
<script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"K0f3xRw8HCyQAR1s",ck:"K0f3xRw8HCyQAR1s"})</script>
	
</head>
<body class="nk-body npc-invest bg-lighter " style="cursor:pointer">
    <div id="welcomeModal" class="modal" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">温馨提醒</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="关闭">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>本页面将在2023-3-30 23:59:59到期，请您注意及时续费，以免影响使用。</p>
                </div>
                <div class="modal-footer">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dontShowAgain">
                        <label class="form-check-label" for="dontShowAgain">不再提醒</label>
                    </div>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>	
    <div class="nk-wrap ">
<div class="nk-header nk-header-fluid nk-header-fixed is-light">
    <div class="container-xl">
        <div class="nk-header-wrap link-between">
            <div class="nk-menu-trigger mr-sm-2 d-lg-none">
		<!--by carter2023 -->
                <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="headerNav"><em
                        class="icon ni ni-menu"></em></a>
            </div>
            <div class="no-gutters">
                <ul class="nk-quick-nav">
                    <li class="dropdown">
                        <a href="javascript:;" class="progress-rating dark-switch ">
                            <span class="nk-menu-icon">
                                <em class="icon ni ni-moon"></em>
                                <em class="icon ni ni-sun d-none"></em>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
        <div class="nk-content nk-content-lg nk-content-fluid">          
<style>
.stat {
    width: 100%;
    column-gap: 1rem;
    padding: 1rem 1.5rem;
}
.stat-title {
    white-space: nowrap;
    opacity: .6;
}
.stat-value {
    white-space: nowrap;
    grid-column-start: 1;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.5rem
}
</style>
<div class="container-xl" id="app">
<div class="col-sm-12 col-md-10 col-xl-8 center-block">
    <div class="card card-preview">
        <div class="card-inner mt-3">
            <div class="nya-title nk-ibx-action-item progress-rating">
                <span class="nk-menu-text font-weight-bold">定向流量测试器</span>
            </div>
            <div class="form-group">
			<p>Tip:速度不满意？请尝试手工切换节点，加大线程</p>
                <label class="form-label">下载链接</label>
                <div class="form-control-wrap">
		<select  type="text" v-model="set.input"  class="form-control">
			<option value="https://img.mcloud.139.com/material_prod/material_media/20221128/1669626861087.png" selected = "selected">中国移动云盘 [推荐]</option>
			<option value="https://d.musicapp.migu.cn/upload/fbpt_rsync_apps/local/signed/MobileMusic7231/MobileMusic7231_014000D.apk">咪咕音乐</option>
            <option value="">咪咕视频</option>
			<option value="">↓↓ 如需自定义请直接在下方填写资源链接 ↓↓</option></select>
		 <input style="" type="text" v-model="set.input" placeholder="下载链接" class="form-control" autocomplete="off">
				</div>
            </div>
            <div class="form-group">
                <label class="form-label">线程</label>
                <div class="form-control-wrap number-spinner-wrap">
                    <button class="btn btn-icon btn-outline-primary number-spinner-btn number-minus" @click="if(set.thread>1)set.thread--"><em class="icon ni ni-minus"></em></button>
                    <input type="number" class="form-control number-spinner" min="1" max="32" v-model="set.thread">
                    <button class="btn btn-icon btn-outline-primary number-spinner-btn number-plus"><em class="icon ni ni-plus" @click="if(set.thread<32)set.thread++"></em></button>
                </div>
            </div>
     <div class="form-group">
    <label class="form-label">停止阈值 (GB)</label>
    <div class="form-control-wrap">
        <input type="number" class="form-control" min="0" step="0.01" v-model="set.stopThreshold" placeholder="留空为不限制！">
    </div>
</div>
            <div class="form-group">
                <div class="preview-block">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" v-model="set.infinite" id="customSwitch2">
                        <label class="custom-control-label" for="customSwitch2">无限循环</label>
                    </div>
                </div>
            </div>
            <button class="btn btn-dim btn-outline-secondary btn-block card-link" @click="run">
                {{set.status?'停止':'开始'}}
            </button>
            <div class="row mt-4">
                <div class="col-sm-12 col-md-4 border stat">
                    <div class="text-dark"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-15 w-15 float-right pt-3"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15a4 4 0 004 4h9a5 5 0 10-.1-9.999 5.002 5.002 0 10-9.78 2.096A4.001 4.001 0 003 15z"></path></svg></div>
                    <div class="stat-title">已消失的流量</div>
                    <div class="stat-value">{{changeFilesize(waste)}}</div>
                </div>
                <div class="col-sm-12 col-md-4 border stat">
                    <div class="text-info"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-15 w-15 float-right pt-3"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path></svg></div>
                    <div class="stat-title">每秒实时流量</div>
                    <div class="stat-value text-info">{{speed}}</div>
                </div>
                <div class="col-sm-12 col-md-4 border stat">
                    <div class="text-dark"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-15 w-15 float-right pt-3"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg></div>
                    <div class="stat-title">运行时长</div>
                    <div class="stat-value">{{secToTime(spend)}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-preview">
        <div class="card-inner">
		
            <h6><em class="icon ni ni-info"></em> 工具说明</h6>
            <div class="accordion-inner">
			<p>多线程定向流量测试器</p>
                <p>此工具可以以浪费的形式测试你的流量</p>
	 <script id="LA-DATA-WIDGET" crossorigin="anonymous" charset="UTF-8" src="https://v6-widget.51.la/v6/JjhvoI5bfYbANJBZ/quote.js?theme=0&f=12&display=1,1,1,1,0,1,1,1"></script>
	 	</div>
        </div>
    </div>
</div>
</div>
            <div class="mt-5 text-center">
           <p id='hitokoto' class="text-gray"></p>
		   <br/>
		    <br/>
            </div>
        </div>
        <div class="nk-footer nk-footer-fluid bg-lighter">
</div>
    </div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/layer.js"></script>
<script src="js/nioapp.min.js"></script>
<script src="js/script.js"></script>
<script src="js/common.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/axios.min.js"></script>


<!-- 到期提醒 -->


<script>
 $(document).ready(function () {
            // 检查localStorage中是否有'dontShowAgain'项
            if (!localStorage.getItem('dontShowAgain')) {
                $('#welcomeModal').modal('show');
            }

            // 监听模态框关闭事件
            $('#welcomeModal').on('hidden.bs.modal', function () {
                // 检查用户是否选择了“不再提醒”的选项
                if ($('#dontShowAgain').prop('checked')) {
                    localStorage.setItem('dontShowAgain', true);
                }
            });
        });
</script>







<script>
var errors = null
new Vue({
    el: '#app',
    data: {
        set: {
            input: 'https://img.mcloud.139.com/material_prod/material_media/20221128/1669626861087.png',
            output: '',
            infinite: true,
            status: false,
            thread: 16,
            stopThreshold: 0,
        },
        tasks: [],
        speed: '0.00B/s',
        spend: 0,
        waste: 0,
        timer: null,
        cancelSource: axios.CancelToken.source()
    },
    watch: {
        async 'set.status'(newVal) {
	// 使用本人修改代码请注意标注
            if (newVal) {
                this.cancelSource = axios.CancelToken.source()
                this.timer = setInterval(() => {
                    this.speed = this.changeDownloadSpeed(this.tasks.reduce(function (prev, curr) {
                        return prev + curr;
                    }, 0));
                    this.spend++

                    // 检查是否达到阈值
                    if (this.set.stopThreshold > 0 && this.waste >= this.set.stopThreshold * 1024 * 1024 * 1024) {
                        this.set.status = false;
                    }
                }, 1000)

                do {
                    await new Promise(resolve => {
                        let task = []
                        for (let i = 0; i < this.set.thread; i++) {
                            task.push(this.download(Math.random().toString(36).substr(2, 10)))
                        }
                        Promise.all(task).finally(resolve)
                    })
                    // 如果达到阈值，终止循环
                    if (this.set.stopThreshold > 0 && this.waste >= this.set.stopThreshold * 1024 * 1024 * 1024) {
                        break;
                    }
                } while (this.set.status && this.set.infinite)
            } else {
                clearInterval(this.timer)
                this.cancelSource.cancel()
            }
        }
    },
    methods: {
        run() {
            this.set.status = !this.set.status
        },
        download(id) {
		    
            let loaded = 0
            let speed = 0
            let timestamp = new Date().getTime()
            let that = this
            const index = this.tasks.push(speed) - 1
            return axios.request({
                url: this.set.input,
                params: {
                    [id]: id,
                },
                cancelToken: this.cancelSource.token,
                onDownloadProgress: function (progressEvent) {
                    // 处理原生进度事件
                    const now = new Date().getTime();
                    speed = (progressEvent.loaded - loaded) / (now - timestamp) * 1000
                    that.tasks[index] = speed
                    that.waste += progressEvent.loaded - loaded
                    loaded = progressEvent.loaded
                    timestamp = now
                },
            }).catch(e => {
                if (!axios.isCancel(e)) {
                    layer.msg(e.message, {icon:2})
                  //  this.set.status = false
				  this.set.status = true
                }
            }).finally(() => {
                delete that.tasks[index]
            })
        },
        secToTime(s) {
            let t = '';
            if (s > -1) {
                let hour = Math.floor(s / 3600)
                let min = Math.floor(s / 60) % 60
                let sec = s % 60
                if (hour > 0) {
                    if (hour < 10) {
                        t += '0'
                    }
                    t = hour + "h"
                }
                if (hour > 0 || min > 0) {
                    if (min < 10) {
                        t += '0'
                    }
                    t += min + "m"
                }
                if (sec < 10) {
                    t += '0'
                }
                t += sec + 's'
            }
            return t
        },
        changeFilesize: (filesize) => {
            filesize = parseInt(filesize);
            let size = "";
            if (filesize === 0) {
                size = "0.00 B"
            } else if (filesize < 1024) { //小于1KB，则转化成B
                size = filesize.toFixed(2) + " B"
            } else if (filesize < 1024 * 1024) { //小于1MB，则转化成KB
                size = (filesize / 1024).toFixed(2) + " KB"
            } else if (filesize < 1024 * 1024 * 1024) { //小于1GB，则转化成MB
                size = (filesize / (1024 * 1024)).toFixed(2) + " MB"
            } else { //其他转化成GB
                size = (filesize / (1024 * 1024 * 1024)).toFixed(2) + " GB"
            }
            return size;
        },
        changeDownloadSpeed(filesize) {
            filesize = this.changeFilesize(filesize);
            return filesize.replace(/\s([K|M|G|B]*)B{0,1}/, '$1/s')
        }
    },
})
</script>
<!-- 	原作者vv1234 -->
<script>document.onkeydown = function(){
  if(window.event && window.event.keyCode == 123) {
    alert("F12被禁用");
    event.keyCode=0;
    event.returnValue=false;
  }
  if(window.event && window.event.keyCode == 13) {
    window.event.keyCode = 505;
  }
  if(window.event && window.event.keyCode == 8) {
    alert(str+"\n请使用Del键进行字符的删除操作！");
    window.event.returnValue=false;
  }
}
</script>  
<script>document.oncontextmenu = function (event){
if(window.event){
event = window.event;
}try{
var the = event.srcElement;
if (!((the.tagName == "INPUT" && the.type.toLowerCase() == "text") || the.tagName == "TEXTAREA")){
return false;
}
return true;
}catch (e){
return false;
}
}
</script>  
<script type="text/javascript" src="//js.users.51.la/21576821.js"></script>
</body>
</html>
